/* HEADER START */

.wrapper{width: 100%;display: flex;}

/*  NAVBAR */
	#mainnav{background-color:black;background-clip:border-box;position: sticky;}

	#mainnav .navbar-brand{color:#3AAFA9;font-weight:800;font-size:1.5rem}

	#mainnav .navbar-nav .nav-item .nav-link img{border-radius: 50%;}

	#mainnav .navbar-nav .nav-item .nav-link img{border-radius: 50%;}

	#mainnav .dropdown .dropdown-menu a{color: #72777a!important;font-size:13px;font-weight:600}

	#mainnav .navbar-nav .dropdown .dropdown-menu img{border-radius: 50%;}

	#mainnav .dropdown:hover>.floating{display:block;}

	#mainnav .dropdown .floating .fa{font-size: 1rem}

	#mainnav .badge{
		display: inline-block;
		padding: 0px 4px 1.3px 3px;
		font-size: 12px;
		font-weight: 500;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		top: 2px;
		border-radius: .35rem;position: absolute;
		right: 0.01rem
	}	

	#mainnav .navbar-nav .nav-item .nav-link .fa{font-size:13px}

	/* SIDEBAR */

	#sidenav{background-color:black;min-height:100vh;width:250px;z-index:1;}

	#sidenav.active{margin-left:-250px;}

	#sidenav .navbar-nav .nav-item .nav-link{color:#a6a6a6;margin-top:1rem;padding-left:.5rem}

	#sidenav .navbar-nav .nav-item .nav-link:hover{background-color:#a6a6a6;color: black;}

	#sidenav .navbar-nav h4{padding-left: 1rem}

	#sidenav .navbar-nav strong{display: none;}

	#main-content {width:100%}

	/* 	MYSIDENAV */

	 #mysidenav{width: 250px;z-index:1;transition: all 0.1s;background-color: black;padding-top: 4rem;display: none;}

     #mysidenav.active{display: block;}

     #mysidenav .badge{position: absolute;top:4rem;border-radius:50%;padding: 0px 4px 0.3px 3px;font-size: 12px;font-weight: 500; }

     #mysidenav .badge-head-1{right:4.4rem}  

     #mysidenav .badge-head-2{top:6.7rem;right:4.3rem}

     #mysidenav .navbar-nav .nav-item .nav-link{text-align: center;}

     #mysidenav .navbar-nav .nav-item .nav-link img{border-radius: 50%;}

     .table  td{font-size: 14px}

     .list-group-item{font-size: 14px;}

     hr{margin-top: 0;}

	/*  MEDIAQUERIES */

     @media(max-width:640px)
     {
     	#sidenav{margin-left:-250px;}

     	/*#mainnav .navbar-brand{font-size:17px}*/

     	#sidenav.active{margin-left:0;background-color: black;}

     	#sidenav.active  .navbar-nav .nav-item .nav-link{text-align:left;font-size:1rem;}

     	#sidenav.active  .navbar-nav .nav-item .nav-link i{font-size:1.85em;}

     	#main-content .table .bg-1{text-align: center;}

     	#sidenav .navbar-nav h4{display: none;}

     	#sidenav .navbar-nav strong{display: block;text-align: center;color: white;padding-top:1rem}

     	#mainnav .navbar-toggler{padding-left:0}

     	#sidenav .navbar-nav .nav-item .nav-link{padding-left:.5rem;padding-right: .5rem}

     	#mainnav.active {width:200px;display: flex;flex-direction: column;}

     	.content-1{width: 100%}

     	#mainnav .navbar-nav{display: none;}

     	.container{padding-right: 0;}

     	.breadcrumb{float: none;}

     	#weather #week-name h6,span{padding:0 .5rem 0 .3rem}

     }

     @media(min-width:640px)
     {
     	#main-content #table-content{width:85%;margin-left: 4.5rem;margin-top:3rem}

     	#sidenav .navbar-nav h4{padding-left:1rem}

     	.content-1{width: 100%;}
     }
	 /* HEADER END */
	 
	 /* FOOTER START */
	 section {
		padding: 60px 0;
	}
	
	section .section-title {
		text-align: center;
		color: #007b5e;
		margin-bottom: 50px;
		text-transform: uppercase;
	}
	#footer {
		background: #000 !important;
	}
	#footer h5{
		padding-left: 10px;
		border-left: 3px solid #eeeeee;
		padding-bottom: 6px;
		margin-bottom: 20px;
		color:#ffffff;
	}
	#footer a {
		color: #ffffff;
		text-decoration: none !important;
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
	}
	#footer ul.social li{
		padding: 3px 0;
	}
	#footer ul.social li a i {
		margin-right: 5px;
		font-size:25px;
		-webkit-transition: .5s all ease;
		-moz-transition: .5s all ease;
		transition: .5s all ease;
	}
	#footer ul.social li:hover a i {
		font-size:30px;
		margin-top:-10px;
	}
	#footer ul.social li a,
	#footer ul.quick-links li a{
		color:#ffffff;
	}
	#footer ul.social li a:hover{
		color:#eeeeee;
	}
	#footer ul.quick-links li{
		padding: 3px 0;
		-webkit-transition: .5s all ease;
		-moz-transition: .5s all ease;
		transition: .5s all ease;
	}
	#footer ul.quick-links li:hover{
		padding: 3px 0;
		margin-left:5px;
		font-weight:700;
	}
	#footer ul.quick-links li a i{
		margin-right: 5px;
	}
	#footer ul.quick-links li:hover a i {
		font-weight: 700;
	}
	
	@media (max-width:767px){
		#footer h5 {
		padding-left: 0;
		border-left: transparent;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
	}
	
	/* FOOTER END */